# Composer files
composer.phar
vendor/**

# Local configs
config/autoload/*.local.php
module/Alae/config/vars.config.php
config/autoload/doctrine.local


# Binary gettext files
*.mo

# Data
data/logs/
data/cache/
data/sessions/
data/tmp/
temp/


#Doctrine 2
data/**
data/DoctrineORMModule/Proxy/
data/DoctrineORMModule/cache/


# Legacy ZF1
demos/
extras/documentation

#MisFiles
*.txt

/.history
/.idea
composer.json