# Composer files
composer.phar
vendor/**

# Local configs
config/autoload/*.local.php
module/Alae/config/vars.config.php
config/autoload/doctrine.local
alae/module/Alae/config/vars.config.php
validaciones/module/Alae/config/vars.config.php

#Logos y pie de version
alae/module/Alae/view/alae/index/logout.phtml
alae/module/Alae/view/alae/user/newpassword.phtml
alae/module/Alae/view/alae/layout/layout.phtml
alae/public/img/alae_logo.png
alae/public/img/alae_logo.png.png
alae/public/img/alaepeq.png
validaciones/public/img/alae_logo.png
validaciones/public/img/alaepeq.png

# Binary gettext files
*.mo

# Data
data/logs/
data/cache/
data/sessions/
data/tmp/
temp/


#Doctrine 2
data/**
data/DoctrineORMModule/Proxy/
data/DoctrineORMModule/cache/


# Legacy ZF1
demos/
extras/documentation

#MisFiles
*.txt

/.history
/.idea
composer.json