
body {
    font: 95.1%/1.1 Verdana,Arial,Helvetica,sans-serif;
    margin: 0;
}
img.vinculo {border:1px solid #EEE; width:155px; height:100px;}
a {text-decoration: none; }
a:link,
a:visited {color:#00008B;}
a:hover {color:#DC143C;}
span {color:#ffffff;font-family: Trebuchet MS;font-size: 9pt;}
input{ margin: 0; padding: 0; }
login input[type=text], #login input[type=password] {
    width: 85%;
    height: 2em;
    border: 1px solid #008B8B;
}
#login{border: 1px solid #008B8B;margin:0;}
#login h1{

    /*    background-color:#008B8B; color:#fff; font-size: 1.2em; margin:0; line-height:2em; text-align:center;*/
    background-color: #008B8B;
    color: #fff;
    font-size: 1.2em;
    margin: 0;
    line-height: 2em;
    text-align: center;

}
#login table{width: 100%;}
#login td{width: 40%; padding-left:2em; line-height:3em;line-height: 40px;}
#login input[type=text],#login input[type=email], #login input[type=password]{width: 85%; height:2em;border:1px solid #008B8B;}
#login input[type=button], #login input[type=submit]{width: 40%; height:2.5em;}

#principal {
    margin:0 auto;
    top:0%;
    left:0%;
    width: 99%;
    height:99%; }
#cerrar{position: absolute; top:0%; right:3%; z-index:100; }
#cerrar img{border: 3px ridge #eee; padding:3px;}
#cuerpo{
    width: 100%;
    min-height: 400px;
    margin: 0 auto;

}


#dwn{
    /*background-color: #fff;*/
    width: 98%;
    height:75%;
    outline: solid 1px #008B8B;
    margin:0 auto;
    margin-top: 1em;
    text-align: left;
    overflow: hidden;
}

#lft{width: 49%; height:100%; outline: solid 1px #008B8B; padding: 0 2em 0 0; float:left; margin-right:2%;overflow-x: hidden; overflow-y: scroll; }
#lft td{border:1px solid #aaa;}

.sel {font-weight:bold;}
#lft input[type=text], input[type=date], select{
    height: 30px;
    border:1px solid #008B8B;
    background-color: #fff;
    font-family: Verdana;
    font-size: 0.9em;
    color: #0000CC;
    padding-left: 1px;
    margin-right: 1em;
}
#rght{width: 45%; height:100%; float:right; padding:0 1em 0 0;}
#rght p{line-height:1.8em;margin:0;}



.w10{width: 10%;}
.w15{width: 15%;}
.w25{width: 25%;}
.w33{width: 33%;}
.w50{width: 50%;}
.w75{width: 75%;}





#izquierda{width: 50%; float:left; }
#derecha{width: 38%; float:right; text-align: left;}
#derecha h1{border-bottom:3px solid #ddd; line-height: 2em; width:75%;}
#derecha ul {text-indent:0px;text-align: left;list-style-image:url('../img/lab.png');}
#derecha li {
    width:85%;
    height:2.5em;
    margin:4px;
    text-align: left;
    font-size:1.4em;
}

#central{width: 50%; margin:0 auto;}
#logo{position: absolute; top:0%; left:0%;}
#mnu{position: absolute; top:2%; left:55%; width: 40%; z-index:10; text-align:right;}
#mnu p{font: Verdana; color: Blue; font-size: 0.8em;}
th{font-family: Calibri; font-size:1.1em;color:#008B8B; border: 1px solid #008B8B;}
#encab{vertical-align:top;
       /* margin: 3% 0 1% 20%; */
       margin: 0 auto;
       width: 60%;
       height:17%; }

#encab h2 {font: 'Arial Black', Arial; color:#008B8B; font-size: 1.8em;text-align:center;}

#contenido{
    /*background-color: #fff;*/
    width: 98%;
    height:85%;
    outline: solid 1px #008B8B;
    margin:0 auto;
    margin-top: 1em;
    overflow-x: hidden;
    overflow-y: scroll;
}

#contenido table{width: 100%;}
#contenido table img{border: 3px ridge #eee; padding:3px; background-color: #FFF;}
#contenido th{border:3px ridge #008B8B; line-height: 1.2em; background-color: #008B8B; color:#fff; background-image:url('../img/asc.png'); background-position:right; background-repeat:no-repeat;}
#contenido td{border:1px solid #008B8B; line-height: 1.8em; padding-left: 3px;}

#contenido td.sb, #lft td.sb{border:0px none; line-height: 1.8em; padding-left: 3px;}

#contenido input[type=text]{
    height:1.8em;
    border:1px solid #008B8B;
    width:100%;
    background-color: #fff;
    font-family: Verdana;
    font-size: 1em;
    color: #0000CC;
    padding-left: 2px;
}
#contenido select{ height:2em;border:1px solid #008B8B; width:99%; background-color: #FFFFCC; font-family: Verdana; }
.par{background-color:#D1EAF0;}

#centrado{width: 60%; margin:0 auto;text-align: left;}
#centrado label {display: inline-block; width:20%;}
/* #centrado select{height:2em;border:1px solid #008B8B; width:40%; background-color: #FFFFCC; font-family: Verdana; } */
#centrado p, #centrado li  {line-height:1.6em;}
#centrado .xls{
    text-indent:0px;
    text-align: left;
    list-style-image:url('../img/xls.png'); 
    outline: solid 1px #008B8B; 
    font-size: 0.9em;  
}
#centrado ul li {
    margin: 0 10px 0 10px;
}

#centrado .pdf{
    text-indent:0px;
    text-align: left;
    list-style-image:url('../img/pdf.png'); 
    outline: solid 1px #008B8B; 
    font-size: 0.9em;  
}

#centrado .txt{
    text-indent:0px;
    text-align: left;
    list-style-image:url('../img/info.png'); 
    outline: solid 1px #008B8B; 
    font-size: 0.9em;  
}

.centro{text-align:center;}
.izq{text-align:left;}
.der{text-align:right;}
.peq{font-size: 0.8em;padding: 0;margin: 0;font-size: 11px;}
/*#contenedor label.error { display: none !important; }*/

#contenedor ul li { display: inline-block; margin: 5px; }

/************Nuevo***************/
body {

    font:100.1%/1.1 Verdana, Arial, Helvetica, sans-serif;
    background-color:#eee;
    min-height: 600px;

    min-width: 1000px;

}
h1 {
    font: Tahoma, Arial;
    color:#008B8B;
    font-size: 2em;
    text-align:left;
}
h2 {
    font: 'Century Gothic', Tahoma, Helvetica;
    color: #008B8B;
    font-size: 1.8em;
    text-transform: uppercase;
    letter-spacing: 0.3px;}
h3 {color:#838c98; font-size: 1em;}
h4 {background-color:#008B8B; color:#fff; font-size: 1.1em; margin:0; line-height:1.6em; text-align:center;}
h5{
    background-color: #1DD300;
    color: #fff;
    font-size: 1.1em;
    margin: 0;
    line-height: 35px;
    text-align: center;
}
#pie{
    border-top: 1px solid #ccc;
    bottom: 0;
    position: fixed;
}
#container {
    margin: 0 auto;
    width: 99%;
    height: 99%;
}

#pie p{
    font-size: 0.8em;
    margin: 5px;
    line-height: 1.5em;
    color: #666;
}
#director_estudio .nominalconcentration-form-buttons,
#administrador .nominalconcentration-form-buttons{
    display: block;
}
#study-form{
/*    padding: 0 0 30px 20px;*/
}
#study-form input[type=text], textarea{
    border:1px solid #008B8B;
    font-family: Verdana;
    font-size: 1em;
    color: #0000CC;
    padding-left: 2px;
    min-height: 30px;
}
#study-form select{
    border: 1px solid #008B8B;
    font-family: Verdana;
    font-size: 0.9em;
    color: #0000CC;
}
#study-form ul{
    list-style:none;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    margin-top: 20px;
}
#study-form ul li {
    display: inline-block;
    margin-right: 20px;
}
#study-form ul li p {
    display: inline-block;
}
#study-form p {
    margin: 10px 0 10px 0;
padding: 0;
}
#study-form p label{
    margin: 0 10px;
    width: 140px;
    display: inline-block;
    vertical-align: top;
    text-align: right;
}
#study-form textarea{
    width: 80%;
}
.approve_notification{
    color: #008B8B;
    font-style: italic;
    font-size: 1.1em;
    vertical-align: bottom;
}
.nominalconcentration-form-buttons ul {
    list-style:none;
}
.nominalconcentration-form-buttons ul li {
    display: inline-block;
    margin-left: 10px;
}

#errorContainer ul{
    margin: 20px 0;
}
#errorContainer li{
    padding-left: 1em;
    text-indent: -.7em;
    color: red;
    font-size: 12px;
}
#central> a>img{

    height: 220px;
    margin: 0 180px;
}
#login form{
    padding: 20px 10px 20px 10px;
}
input.error{
    border: 1px solid red !important;
    color: red !important;
}